
.container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 100px;
    flex-flow: column nowrap;
    padding: 30px;
    margin-bottom: 100px;
}

.heading{
    color: white;
    text-align: left;
}
.green{
    color: #21e6c1;
    text-decoration: none;
}
.green:hover{
    color: #21e6c1;
}
.blurb-text{
    color: #aeb6c4ea;
    text-align: left;
    width: 80%;
}
.button{
    color: #21e6c1;
    background-color: rgba(0, 0, 255, 0);
    border: #21e6c1 2px solid;
    padding: 15px 25px;
    margin-top: 30px;
    border-radius: 8%;
    text-decoration: none;
}
.button:hover{
    text-decoration: none;
    background-color: #21e6c211;
    color: #21e6c1;
}

