.tech{
    display: flex;
    /* justify-content: space-evenly; */
    color: #aeb6c4ea;
    gap: 30px;
   
    margin: 0 10px 10px 0;
}

.a{
    text-decoration: none;
    color: #21e6c1;
}

.proj-pic{
    /* height: 200px; */
    width: 400px;
    padding-right: 75px;

}

.work-text{
    color:  #aeb6c4ea;
    text-align: left;
    width: 70%;
    font-size: 1.3rem;
}

.greenW{
    color: #21e6c1;
    text-decoration: none;
    text-align: left;
    margin-top: 20px;
    font-size: 1.5rem;
}